.container {
    margin: 0 auto;
    width: 50%;
    background-color: rgb(250, 235, 214);
    padding: 20px;
}

p {
    margin: 0;
    padding: 0;
}

.table,
.result {
    display: grid;
    grid-template-columns: 1fr;
    margin: 10px;
    text-align: left;
    line-height: 4ch;
}

td,
th {
    border-bottom: 1px dashed grey;
}


.hidden {
    display: none;
}

.submit {
    width: 100%;
}